<!DOCTYPE html>
<hmtl>

    <head>
        <title>Blog</title>
    </head>

    <body>
        <div class="contain-main">
            <div class="title">Multi-user Blog </div>
            <br>
            <div class="answer">Welcome {{user_name}}</div>
            <br> {% block content %}
            <form method="post" action="/logout">
                <input type=submit value="logout">
            </form>
            <br>
            <div class="error">{{error}}</div>
            <a href="/newpost" class="newPost">+ Add post</a>
            <div class="list10-contain">
                <ul>
                    {% for x in posts %}
                    <li>
                        <a href="/focus?postId={{ x.key().id() }}">
                        {{ x.title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}
        </div>
    </body>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
