{% extends "base.html" %} {% block content %}
<div class="contain-main">
    <div class="focus-contain">
        <div class="title">Delete comment</div>
        <br>
        <form method="post" action="/deletecomment?commentId={{commentId}}&postId={{postId}}">
            <input type="submit" value="delete comment" class="delete-post">
        </form>
        <br>
        <div class="cancel">
            <a style="color: white; text-decoration: none" href="/focus?postId={{postId}}">Cancel</a>
        </div>
        <div class="contain-body">
            <div class="field">Title:
                <br>
                <span class="answer">  {{title}}</span>
            </div>
            <div class="error">{{error}}</div>
            <div class="field">Created:
                <br>
                <span class="answer">  {{created}}</span>
            </div>
            <div class="field">Last mod:
                <br>
                <span class="answer">  {{last_mod}}</span>
            </div>
            <div class="field">Author:
                <br>
                <span class="answer">  {{author}}</span>
            </div>
            <div class="field">Content:
                <br>
                <span class="answer">{{body}}</span>
            </div>
            <div class="error">{{error}}</div>
        </div>
        <br>
        <br>
        <div class="contain-body">
            <div>Comment:
                <div/>
                <br>
                <div>Author:
                    <div class="answer"> {{cauthor}}</div>
                </div>
                <div>Created:
                    <div class="answer"> {{ccreated}}</div>
                </div>
                <div>Content:
                    <div class="answer"> {{cbody}}</div>
                </div>
            </div>
{% endblock %}
