<!--   template  -->
<!DOCTYPE html>
<hmtl>
	<head>
	<title>Blog</title>
	</head>
	<body>
	<!--   template  -->
<!DOCTYPE html>
<hmtl>
	<head>
	<title>Edit blog post</title>
	</head>
	<body>
		<div class="contain-main">
			<div class="title">Edit title</div>
			<form class="edit-form" method="post">
				<legend>Current</legend>
				<input style="text-align: center" type="text" name="old" value="{{old}}"" readonly>
				<br>
				<br>
				<legend>New</legend>
				<input type="text" name="new">
				<br><br>
				<div style="color: red">{{error}}</div>
				<input type="submit">
			</form>
			<div class="cancel">
				<a style="color: white; text-decoration: none" href="/focus?title={{title}}">Cancel</a>
			</div>
		</div>
		<br>
		<br>
	</body>
	<link type="text/css" rel="stylesheet" href="/static/main.css">
	</body>