<!--   template  -->
<!DOCTYPE html>
<hmtl>
	<head>
	<title>Blog</title>
	</head>
	<body>
	<!--   template  -->
<!DOCTYPE html>
<hmtl>
	<head>
	<title>Edit blog post</title>
	</head>
	<body>
			<div class="title">Edit blog post</div>
			<div class="summary">Created on...{{created}}</div>
			<div class="summary">Last modified...{{last_mod}}</div>
			<div class="summary">Author...{{author}}</div>
			<form class="edit-form" method="post">
				Title:
				<input type="text" name="title" value="{{title}}">
				<input type="text" name="oldtitle" value="{{title}}">
				Body:
				<input type="textarea" name="body" value="{{body}}">
				<input type="submit">
			</form>
				
		</div>
	</body>
	<link type="text/css" rel="stylesheet" href="/static/main.css"/>
	</body>
	<!--  Enter new title:
				<input name="newtitle" value="" type="text">
				Enter new body:
				<input type="text" name="newbody" value="">
				-->