<!--   template  -->
<!DOCTYPE html>
<hmtl>

    <head>
        <title>Blog</title>
    </head>
    <body>
        <div class="contain-main">
            <div class="title">Title: {{title}}</div>
            <div class="error">{{error}}</div>
            <div class="contain-delete">
            	<div class="contain-menu">
                    <a class="delete" href="/welcome">Main list</a>
                </div>
                <form method="post" action="/focus?title={{title}}">
                    <input style="border-radius: 0px" class="like" type="submit" name="like" value="Likes  {{count}}">
                </form>
                <div class="contain-menu">
                    <a class="delete" href="/delete?title={{title}}">Delete</a>
                </div>
            </div>
            <div class="contain-body">
                <div class="field"><a href="/edit/title?title={{title}}">+ Title:</a>
                    <br>
                    <input style="text-align: left" class="answer" readonly name="title" value="{{title}}">
                </div>
                <!--     /edit/title?title={{title}}   -->
                <div class="field">Created:
                    <br><span class="answer">  {{created}}</span></div>
                <div class="field">Last mod:
                    <br><span class="answer">  {{last_mod}}</span></div>
                <div class="field">Author:
                    <br><span class="answer">  {{author}}</span></div>
                <div class="field"><a href="/edit/body?title={{title}}">+ Content</a>
                    <br><span class="answer">{{body}}</span></div>
            </div>
            <br>
            <br>
            <div class="contain-body comment-box"><a href="/comment?title={{title}}">+ Comments:<a/>
				<ul>
					{% for x in comments %}
					<li>
					<div class="comment1"><i>{{ x.author }}</i> commented on {{ x.created }}:</div>
					<br>
					<a href="/edit/comment?commentId={{ x.key() }}&title={{title}}" class="edit-comment">edit</a>
					<div class="comment2">{{ x.comment }}</div>
					<br>
					<br>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</body>
	<link type="text/css" rel="stylesheet" href="/static/main.css"/>
